.row {
    display:table;
    table-layout:fixed;
    width:100%;
}
.col {
    display:table-cell;
}
.col.one {
    width:8.333333333333%;
}
.col.two {
    width:16.666666666667%;
}
.col.three {
    width:25%;   
}
.col.four {
    width:33.333333333333%;
}
.col.five {
    width:41.666666666667%;
}
.col.six {
    width:50%;
}
.col.seven {
    width:58.333333333333%;
}
.col.eight {
    width:66.666666666667%;
}
.col.nine {
    width:75%;
}
.col.ten {
    width:83.333333333333%;
}
.col.eleven {
    width:91.666666666667%;
}
.col.twelve {
    width:100%;
}

.offset-1 {

}
.offset-2 {
    
}
.offset-3 {
    
}
.offset-4 {
    
}
.offset-5 {
    
}
.offset-6 {
    
}
.offset-7 {
    
}
.offset-8 {
    
}
.offset-9 {
    
}
.offset-10 {
    
}
.offset-11 {
    
}
.offset-12 {
    
}